.ovh {
      overflow:hidden;
    }
.limit-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.4;        /* fallback */
   max-height: 40px;     /* fallback */
   font-family: 'Athiti', sans-serif !important;
   font-weight: bold;
}
.overlay{

    background-color: rgba(0, 0, 0, 0.6); 
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
	
}

.rating-window{
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
	background: white;
	position:absolute;
}
.head{
	width: 100%;
	height: 10%;
	/*background-color: #330431;*/
	color:#330431;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height :10%;
	background-color: #333;
	color:#fcf192;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	font-size: medium;
}
.footer:hover{
	background: black;
}
.content{
	width: 100%;
	height: 80%;
	overflow-y: scroll;
	/*background: pink;*/
}
.item-rating{
	float: left;
	/*background: yellow;*/
	width: 100%;
	/*border: 5px solid grey;*/
	margin-bottom: 15px;
}
.item{
	float: left;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.rating-box{
	float: left;
	height: 180px;
	/*background: pink;*/
	width: 50%;
	/*margin:40px 0px 40px 0px;*/
	padding-top: 50px; 
}

#img-rating{
	width: 200px;
	height: 200px;
}

/*Overall rating*/
.overall {
	unicode-bidi:bidi-override;
	direction:rtl;
	font-size:20px;
	display: inline-block;
}

.overall span.star {
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	display:inline-block
}

.overall span.star:hover {
	cursor:pointer
}

.overall span.star:before {
	content:"\f006";
	padding-right:5px;
	color:gray;
}
.overall span.star:hover:before,.overall span.star:hover~span.star:before {
	content:"\f005";
	color:orange;
}

/*Multi-criteria rating*/
.rating {
	unicode-bidi:bidi-override;
	direction:rtl;
	font-size:20px;
	display: inline-block;
}

.rating span.star {
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	display:inline-block
}

.rating span.star:hover {
	cursor:pointer
}

.rating span.star:before {
	content:"\f006";
	padding-right:5px;
	color:#ccc;
}
.rating span.star:hover:before,.rating span.star:hover~span.star:before {
	content:"\f005";
	color:#fcf192;
}


@media screen and (min-width: 769px){ /* For PC */
	.rating-window{	  
	  width:50%;
	  height:80%;	  
	  top:10%;
	  left: 25%
	}
	.item{
		width: 35%;
	}
	.rating{
		width: 50%;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px){ /* For ipad */
	.rating-window{
	  width:80%;
	  height:80%;
	  top:10%;
	  left: 10%
	}
	.item{
		width: 35%;
	}
	.rating{
		width: 100%;
		font-size: 15px;
	}
	.overall{
		width: 100%;
		font-size: 15px;
	}
	#img-rating{
		width: 150px;
		height: 150px;
	}
	.row.criteria{
		display: flex;
	}
	.rating-box{
		float: left;
		height: 120px;
		/*background: pink;*/
		width: 50%;
		/*margin:40px 0px 40px 0px;*/
		padding-top: 50px; 
	}
	#criteria{
		width: 80%;
		font-size: 12px;
	}
	#overall{
		width: 80%;
		font-size: 12px;
	}
}

@media screen and (max-width: 767px){ /* For iphone */
	.rating-window{
	  width:90%;
	  height:90%;
	  top:5%;
	  left: 5%
	}
	.item{
		margin:10px 0px 10px 0px;
		width: 100%
	}
	.rating{
		width: 100%;
		font-size: 15px;
	}
	.overall{
		width: 100%;
		font-size: 15px;
	}
	.head{
		font-size: small;
	}
	.footer{
		font-size: smaller;
	}
	.item {
		/*float: left;*/
		/*margin: 20px;*/
		margin-top: 0px;
		margin-bottom: 0px;
		display: inline-block;
	}
	.rating-box{
		float: left;
		height: 120px;
		/*background: pink;*/
		width: 100%;
		/*margin:40px 0px 40px 0px;*/
		padding-top: 20px; 
	}
	#img-rating{
		width: 150px;
		height: 150px;
	}
	.row.criteria{
		display: flex;
	}
	#criteria{
		width: 80%;
		font-size: 12px;
	}
	#overall{
		width: 80%;
		font-size: 12px;
	}
}

#style-2::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	/*border-radius: 10px;*/
	background-color: transparent;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}
