<div class="overlay" [@fadeIn]="state" style="overflow: hidden;">
    <div class="rating-window">
        <div class="head">Please rate items below for improving recommendation</div>
        <div class="content" id="style-2">
          <div class="item-rating" *ngFor="let item of itemRating">
            <div class="item">
              <div style="display: flex;justify-content: center;align-items: center">
                <img id="img-rating" src="{{item.img}}">
              </div>
              <div class="limit-text" style="text-align: center">{{item.name}}</div>
              <div id="font" style="text-align: center">{{item.price}} บาท</div>
            </div>
            <div class="container rating-box">
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Overall rating</div> 
                <div class="col-md-6" id="rating">
                    <div class='rating-stars-overall text-right'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1' (click)="onClickRate(item._id,'overall',1)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2' (click)="onClickRate(item._id,'overall',2)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3' (click)="onClickRate(item._id,'overall',3)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4' (click)="onClickRate(item._id,'overall',4)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5' (click)="onClickRate(item._id,'overall',5)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                </div>
              </div> 
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Worth the price</div> 
                <div class="col-md-6" id="rating">
                    <div class='rating-stars text-right'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1' (click)="onClickRate(item._id,'price',1)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2' (click)="onClickRate(item._id,'price',2)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3' (click)="onClickRate(item._id,'price',3)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4' (click)="onClickRate(item._id,'price',4)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5' (click)="onClickRate(item._id,'price',5)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Quality</div> 
                <div class="col-md-6" id="rating">
                    <div class='rating-stars text-right'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1' (click)="onClickRate(item._id,'quality',1)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2' (click)="onClickRate(item._id,'quality',2)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3' (click)="onClickRate(item._id,'quality',3)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4' (click)="onClickRate(item._id,'quality',4)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5' (click)="onClickRate(item._id,'quality',5)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Design</div> 
                <div class="col-md-6" id="rating">
                    <div class='rating-stars text-right'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1' (click)="onClickRate(item._id,'design',1)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2' (click)="onClickRate(item._id,'design',2)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3' (click)="onClickRate(item._id,'design',3)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4' (click)="onClickRate(item._id,'design',4)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5' (click)="onClickRate(item._id,'design',5)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Sustainability</div> 
                <div class="col-md-6" id="rating">
                    <div class='rating-stars text-right'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1' (click)="onClickRate(item._id,'sustainability',1)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2' (click)="onClickRate(item._id,'sustainability',2)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3' (click)="onClickRate(item._id,'sustainability',3)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4' (click)="onClickRate(item._id,'sustainability',4)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5' (click)="onClickRate(item._id,'sustainability',5)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="footer" (click)="rateItem()">Thank you and Continue shopping &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></div>
      </div>
</div>