<div class="overlay" [@fadeIn]="state">
    <div class="rating-window">
        <div class="head">Please rate items below for improving recommendation</div>
        <div class="content" id="style-2">
          <div class="item-rating" *ngFor="let item of itemRating">
            <div class="item">
              <div style="display: flex;justify-content: center;align-items: center">
                <img id="img-rating" src="{{item.img}}">
              </div>
              <div style="text-align: center">{{item.name}}</div>
            </div>
            <div class="container rating-box">
              <div class="row criteria"> 
                <div class="col-md-6" id="overall">Overall rating</div> 
                <div class="col-md-6 overall">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div> 
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Worth the price</div> 
                <div class="col-md-6 rating">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div> 
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Quality</div> 
                <div class="col-md-6 rating">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div> 
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Design</div> 
                <div class="col-md-6 rating">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div> 
              <div class="row criteria"> 
                <div class="col-md-6" id="criteria">Sustainability</div> 
                <div class="col-md-6 rating">
                  <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                </div>
              </div> 
            </div>
          </div>
          
          
          
        </div>


        <div class="footer" (click)="rateItem()">Thank you and Continue shopping &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></div>

        <!-- <div class="btn btn-primary" (click)="toggle()"> check </div> -->
    </div>
</div>