#font{
	font-family: 'Athiti', sans-serif !important;
   font-weight: bold;
}
.ovh {
      overflow:hidden;
    }
.limit-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.4;        /* fallback */
   max-height: 18px;     /* fallback */
   font-family: 'Athiti', sans-serif !important;
   font-weight: bold;
}
.overlay{

    background-color: rgba(0, 0, 0, 0.6); 
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
	
}

.rating-window{
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
	background: white;
	position:absolute;
}
.head{
	width: 100%;
	height: 10%;
	color:#330431;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height :10%;
	background-color: #333;
	color:#fcf192;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	font-size: medium;
}
.footer:hover{
	background: black;
}
.content{
	width: 100%;
	height: 80%;
	overflow-y: scroll;
}
.item-rating{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 25px;
}
.item{
	float: left;
	margin: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.limit-text{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.4;        /* fallback */
   padding-left: 15px;
   padding-right: 15px;
   font-size: smaller;
}

.rating-box{
	float: left;
	height: 180px;
	width: 50%;
	padding-top: 50px; 
}

#img-rating{
	width: 200px;
	height: 200px;
}

#criteria{
	width: 40%;
}
#rating {
	font-size:8px;
	display: inline-block;
	width: 60%;
}

/*Overall rating*/
.rating-stars-overall ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars-overall ul > li.star {
  display:inline-block;
  
}
/* Idle State of the stars */
.rating-stars-overall ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}
/* Hover state of the stars */
.rating-stars-overall ul > li.star.hover > i.fa {
  color:#FFCC36;
}
/* Selected state of the stars */
.rating-stars-overall ul > li.star.selected > i.fa {
  color:#FF912C;
}

/*Multi-criteria rating*/
.rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}
/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}
/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FF912C;
}
/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FFCC36;
}

@media screen and (min-width: 769px){ /* For PC */
	.rating-window{	  
	  width:50%;
	  height:80%;	  
	  top:10%;
	  left: 25%
	}
	.item{
		width: 35%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px){ /* For ipad */
	.rating-window{
	  width:80%;
	  height:80%;
	  top:10%;
	  left: 10%
	}
	.item{
		width: 35%;
	}
	#criteria{
		width: 40%;
		font-size: 12px;
	}
	#rating{
		width: 60%;
		font-size: 8px;
	}
	#img-rating{
		width: 150px;
		height: 150px;
	}
	.row.criteria{
		display: flex;
	}
	.rating-box{
		float: left;
		height: 120px;
		width: 50%;
		padding-top: 50px; 
	}
}

@media screen and (max-width: 767px){ /* For iphone */
	.rating-window{
	  width:90%;
	  height:90%;
	  top:5%;
	  left: 5%
	}
	.item{
		margin:10px 0px 10px 0px;
		width: 100%
	}
	#criteria{
		width: 80%;
		font-size: 12px;
	}
	#rating{
		width: 80%;
		font-size: 6px;
	}
	.overall{
		width: 100%;
		font-size: 15px;
	}
	.head{
		font-size: small;
	}
	.footer{
		font-size: smaller;
	}
	.item {
		margin-top: 0px;
		margin-bottom: 0px;
		display: inline-block;
	}
	.rating-box{
		float: left;
		height: 120px;
		width: 100%;
		padding-top: 20px; 
	}
	#img-rating{
		width: 150px;
		height: 150px;
	}
	.row.criteria{
		display: flex;
	}
}

#style-2::-webkit-scrollbar-track
{
	background-color: transparent;
}

#style-2::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}
