<div style="width: 100%;height: 10vh;margin-top:40px;text-align: center;font-size: 1.5em">
	{{department}} : <span style="text-transform: capitalize;">{{category}}</span>
	<hr>
	
</div>
<div class="itemlist">
	<div class="item" >
		<img src="../../../img/Women's Fashion/Bags/wb1.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb2.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb3.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb4.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb5.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb6.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb7.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb8.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
		<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb1.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb2.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb3.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb4.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb5.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb6.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb7.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="../../../img/Women's Fashion/Bags/wb8.png" class="item-pic">
		<div id="item-content">
			<div style="width: 100%">name: Women's Bag</div>
			<div style="width: 100%">price: 200 Baht</div>
			<div style="display: flex;justify-content: center;">
				<div id="add-cart" style="width: 100%" onclick="location.href='My cart.html'">Add to cart</div>
			</div>
		</div>
	</div>
</div>
{{data}}