

body {
  background: #ede9de; 
}
.container-spinner {
  height: 100%;
  left: 50%;
  margin: auto -50px;
  position: fixed;
  top: 50%;
}
.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}
.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
  clear: left;
  padding-top: 1.5em;
}
.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background: #e3dbd2;
}
.shadow .shadow-l {
  background: #d5d8d6;
}
.shadow .shadow-r {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
  -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
  -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}
.limit-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.4;        /* fallback */
   max-height: 17px;       /* fallback */
}
/*hr{ 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
  }
#item-content{
    padding:10px;
    font-family: 'Athiti', sans-serif !important;
    font-weight: bold;
}
.item{
    cursor:pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: box-shadow 0.5s;
}
.item:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,4,49,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,4,49,1);
    box-shadow: 0px 0px 5px 0px rgba(51,4,49,1);
}
#add-cart{
    width: 90% !important; 
    padding: 10px;
    transition: background 0.5s;
}
#add-cart:hover{

    padding: 10px;
    background: #330431;
    color:white;
}

/*.alert.addtocart-success{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px;
    margin: 35px 7px 10px;
    max-width: 310px;
    min-width: 250px;
    height: 300px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid rebeccapurple;
    border-bottom: 5px solid rebeccapurple;
}*/

/*.alert.addtocart-fail{

}*/

/*.swal2-modal .swal2-styled{
    background-color: #330431 !important;
}*/

.pagination>li>a{
    background-color: transparent;
    color: #330431;
    border: 1px solid white;
    cursor: pointer;
}

.pagination>.active>a{
    color: #330431;
    /*background-color: #fcf192;*/
    border-color: #fcf192;
}

@media screen and (min-width: 769px){ /* For PC */
    .item-pic{
        width: 200px;
        height: 200px;
        background-size: cover;
    }

    .itemlist{
        display: block;
        /*margin-top: 60px;*/
        width: 100%;
        float: left;
    }

    .item{
        float: left;
        width: 25%;
        text-align: center;
        margin-bottom: 30px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){ /* For ipad */
    .item-pic{
        width: 160px;
        height: 160px;
        background-size: cover;
    }

    .itemlist{
        display: block;
        /*margin-top: 60px;*/
        width: 100%;
        float: left;
    }

    .item{
        float: left;
        width: 33%;
        text-align: center;
        margin-bottom: 30px; 
    }
}

@media screen and (max-width: 767px){ /* For iphone */
    .item-pic{
        width: 110px;
        height: 110px;
        background-size: cover;
    }

    .itemlist{
        display: block;
        /*margin-top: 40px;*/
        width: 100%;
        float: left;
    }

    .item{
        float: left;
        width: 50%;
        text-align: center;
        margin-bottom: 30px; 
    }
}