<div aria-busy="true" aria-label="Loading" role="progressbar" class="container-spinner" *ngIf="spinner" >
  <div class="swing">
    <div class="swing-l"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="swing-r"></div>
  </div>
  <div class="shadow">
    <div class="shadow-l"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="shadow-r"></div>
  </div>
 </div>


<div style="width: 100%;height: 10vh;margin-top:40px;text-align: center;font-size: 1.5em" *ngIf="!spinner">
	{{department}} : <span style="text-transform: capitalize;">{{category}}</span>
	<hr>
</div>

<div *ngIf="!spinner" >
    <div class="container">
        <div class="text-center">
            <!-- items being paged -->
           <div class="itemlist">
				<div class="item" *ngFor="let item of pagedItems">
					<img src="{{item.img}}" class="item-pic">
					<div id="item-content">
						<div style="width: 100%" class="limit-text">{{item.name}}</div>
						<div style="width: 100%">{{item.price}} baht</div>
						<div style="display: flex;justify-content: center;">
							<div id="add-cart" style="width: 100%" (click)="addToCart(item)">Add to cart</div>
						</div>
					</div>
				</div>

			</div>	
			<!--<hr />-->
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a  (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

    </div>

</div>
