<div aria-busy="true" aria-label="Loading" role="progressbar" class="container-spinner" *ngIf="spinner" >
  <div class="swing">
    <div class="swing-l"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="swing-r"></div>
  </div>
  <div class="shadow">
    <div class="shadow-l"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="shadow-r"></div>
  </div>
 </div>


<div style="width: 100%;
    height: auto;
    margin-top:40px;
    text-align: center;
    font-size: 1.5em; 
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;" *ngIf="!spinner">
	{{department}} : <span style="text-transform: capitalize;">{{category}}</span> 
	<hr>
</div>

<div *ngIf="!spinner" >
    <div class="container">
        <div class="text-center">
            <!-- items being paged -->
            <div *ngIf="!statusItem">No item</div>
           <div class="itemlist">
				<div class="item" *ngFor="let item of pagedItems">
					<img src="{{item.img}}" class="item-pic">
					<div id="item-content">
						<div style="width: 100%" class="limit-text">{{item.name}}</div>
						<div style="width: 100%">{{item.price}} baht</div>
						<div style="display: flex;justify-content: center;">
							<div id="add-cart" style="width: 100%" (click)="addToCart(item)">Add to cart</div>
						</div>
					</div>
				</div>

			</div>	
			<!--<hr />-->
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a  (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>

    </div>

</div>

<div class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container" style="margin-top: 10px;padding-left: 5px;padding-right: 5px;">
            <ul class="input-list style-1 clearfix center col-md-12 col-sm-12 col-xs-12" style="list-style: none;">
                <li>
                  <input type="text" placeholder="from" #filterFrom>
                </li>
                <li>
                    -
                </li>
                <li>
                  <input type="text" placeholder="to" #filterTo>
                </li>
                <li>
                    <div class="btn btn-primary sortFilter" id="filter" (click)="filter(filterFrom.value,filterTo.value)">filter price</div>
                </li>
                <li>
                    <div class="btn btn-primary sortFilter" id="sort" (click)="sort()">price low to high <span class="glyphicon glyphicon-sort-by-attributes"></span></div>     
                </li>
            </ul>

    </div>
</div>
