<div>
  <div class="header-container" >
      <img src="/img/BannerCover.png" class="banner img-responsive">
      <a [routerLink]="['']"><img src="/img/Logo.png" class="logo img-responsive"></a>
  </div>

  <div class="nav-container">
    <sticky [sticky-parent]="false" [sticky-width]="'100%'">  
        <div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" >&times;</a>
	  <div class="col-md-6 navbar-search" style="" >
				<div id="search">
					<input type="text" placeholder="search.." style="width: 80%;">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</div>
	  </div>
	  <a href="javascript:void(0)" id="women-menu">Women's Fashion</a>
	  <div class="sub-menu" id="women" style="">
	  		<p><a [routerLink]="['/Departments','women','apparels']" id="sub-cat">Apparels</a></p>
            <p><a [routerLink]="['/Departments','women','bags']"  id="sub-cat">Bags</a></p>
            <p><a [routerLink]="['/Departments','women','shoes']" id="sub-cat">Shoes</a></p>
            <p><a [routerLink]="['/Departments','women','accessories']" id="sub-cat">Accessories</a></p>
	  </div>
	  <a href="javascript:void(0)" id="men-menu">Men's Fashion</a>
	  <div class="sub-menu" id="men" style="">
	  		<p><a [routerLink]="['/Departments','men','apparels']" id="sub-cat">Apparels</a></p>
            <p><a [routerLink]="['/Departments','men','bags']"  id="sub-cat">Bags</a></p>
            <p><a [routerLink]="['/Departments','men','shoes']"  id="sub-cat">Shoes</a></p>
            <p><a [routerLink]="['/Departments','men','accessories']"  id="sub-cat">Accessories</a></p>
	  </div>
	  <a href="javascript:void(0)" id="elec-menu">Electronics</a>
	  <div class="sub-menu" id="electronic" style="">
	  		<p><a [routerLink]="['/Departments','elec','tv']"  id="sub-cat">TV & Home Theatre</a></p>
            <p><a [routerLink]="['/Departments','elec','comp']"  id="sub-cat">Computers & Printers</a></p>
            <p><a [routerLink]="['/Departments','elec','mobile']"  id="sub-cat">Mobile Devices</a></p>
            <p><a [routerLink]="['/Departments','elec','cameras']"  id="sub-cat">Cameras</a></p>
	  </div>
	  <a href="javascript:void(0)" id="home-menu">Home</a>
	  <div class="sub-menu" id ="home" style="">
			<p><a [routerLink]="['/Departments','home','bedroom']"  id="sub-cat">Bedroom</a></p>
            <p><a [routerLink]="['/Departments','home','bathroom']"  id="sub-cat">Bathroom</a></p>
            <p><a [routerLink]="['/Departments','home','livingroom']"  id="sub-cat">Living Room</a></p>
            <p><a [routerLink]="['/Departments','home','kitchen']"  id="sub-cat">Kitchen</a></p>
	  </div>
	</div>
	<div class="center navbar-containner" >
		
		<div class="center-navbar" >
			<div class="col-md-2 col-sm-2 menu-navbar menu-hamburger-open" id="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
				
			</div>
			<div class="col-md-2 col-sm-2  menu-navbar menu-hamburger-close" id="hamburger">
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" ></span>
				
			</div>
			<div class="col-md-2 col-sm-2 menu-navbar menu-collapse" style="" id="department-menu" >
				Department
			</div>
			<div class="col-md-6 col-sm-3 navbar-search menu-collapse" style="" >
				<div id="search">
					<input type="text" placeholder="search.." >
					<span class="glyphicon glyphicon-search" aria-hidden="true" style=""></span>
				</div>
			</div>
			<div class="col-md-1 col-sm-2 menu-navbar" style="" id="others" [routerLink]="['/myCart']"  >
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                <a [routerLink]="['/myCart']"  id="mycart">&nbsp;Cart ({{sharedService.getNumCarts()}})</a>
			</div>
            <button type="button" class="col-md-1 col-sm-2 menu-navbar" style="" id="login-menu" data-toggle="modal" data-target="#myModalSignOut" *ngIf="checkLog"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				&nbsp;Sign out
            </button>
            <button type="button" class="col-md-1 col-sm-2 menu-navbar" style="" id="login-menu" data-toggle="modal" data-target="#myModalSignIn" *ngIf="!checkLog">
                &nbsp;Sign in
            </button>
 
		</div>
	</div>
	<div class="col-md-12 col-sm-12 department-containner">
		<div class="center">
			<div class="col-md-2 col-sm-2 department">
				<p id="head">Women's Fashion</p>
				<p><a [routerLink]="['/Departments','women','apparels']" class="sub-cat-menu">Apparels</a></p>
				<p><a [routerLink]="['/Departments','women','bags']" class="sub-cat-menu" >Bags</a></p>
				<p><a [routerLink]="['/Departments','women','shoes']" class="sub-cat-menu">Shoes</a></p>
				<p><a [routerLink]="['/Departments','women','accessories']" class="sub-cat-menu">Accessories</a></p>
			</div>
			<div class="col-md-2 col-sm-2 department">
				<p id="head">Men's Fashion</p>
				<p><a [routerLink]="['/Departments','men','apparels']" class="sub-cat-menu">Apparels</a></p>
				<p><a [routerLink]="['/Departments','men','bags']" class="sub-cat-menu" >Bags</a></p>
				<p><a [routerLink]="['/Departments','men','shoes']"  class="sub-cat-menu">Shoes</a></p>
				<p><a [routerLink]="['/Departments','men','accessories']"  class="sub-cat-menu">Accessories</a></p>
			</div>
			<div class="col-md-2 col-sm-2  department">
				<p id="head">Electronics</p>
				<p><a [routerLink]="['/Departments','elec','tv']" class="sub-cat-menu" >TV & Home Theatre</a></p>
				<p><a [routerLink]="['/Departments','elec','comp']" class="sub-cat-menu" >Computers & Printers</a></p>
				<p><a [routerLink]="['/Departments','elec','mobile']"  class="sub-cat-menu">Mobile Devices</a></p>
				<p><a [routerLink]="['/Departments','elec','cameras']"  class="sub-cat-menu">Cameras</a></p>
			</div>
			<div class="col-md-2 col-sm-2 department">
				<p id="head">Home</p>
				<p><a [routerLink]="['/Departments','home','bedroom']"  class="sub-cat-menu">Bedroom</a></p>
				<p><a [routerLink]="['/Departments','home','bathroom']"  class="sub-cat-menu">Bathroom</a></p>
				<p><a [routerLink]="['/Departments','home','livingroom']" class="sub-cat-menu" >Living Room</a></p>
				<p><a [routerLink]="['/Departments','home','kitchen']" class="sub-cat-menu" >Kitchen</a></p>
			</div>
		</div>
	</div>
    </sticky>
  </div>
    <div style="min-height: 1000px">
    <router-outlet></router-outlet>
    </div>

<!-- <div>
    <button (click)="test()" id="testbutton">click</button>
</div> -->

<div id="message" class="center" style="z-index: 9999;position: fixed;text-align: center;width: 100%;top:25%" [@fadeIn]="statusRegister" >
  <div class="alert" style="width: 50%" [ngClass]="{
  'regis-success':checkRegister ,
  'regis-fail':!checkRegister}" >{{message}}</div>
</div>

<div id="loginmessage" class="center" style="z-index: 9999;position: fixed;text-align: center;width: 100%;top:25%" [@fadeIn]="statusLogin" >
  <div class="alert" style="width: 50%" [ngClass]="{
  'login-success':checkLog ,
  'login-fail':!checkLog }" >{{logmessage}}</div>
</div>


<!-- <div id="message" class="center" style="z-index: 9999;position: absolute;text-align: center;width: 100%;display: none;top:25%">
  <div class="alert" style="width: 50%" [ngClass]="{
  'alert-success':testvar||checkRegister ,
  'alert-warning':!testvar||!checkRegister }" >
        {{message}}
  </div>
</div> -->

           <div class="modal fade " id="myModalSignIn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fcf192">×</button>
                            <h4 class="modal-title" id="myModalLabel">Welcome to Recommerce!</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12" style="">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#Login" data-toggle="tab">Sign in</a></li>
                                        <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Login">
                                            <form role="form" class="form-horizontal" 
                                            (ngSubmit)="checkLogin()" >
                                            <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label">Username</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input type="text" class="form-control" id="email1" placeholder="Email" style="width: 100%"
                                                    [(ngModel)]="login.username"
                                                    name="username"
                                                    required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="col-sm-2 control-label">Password</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email" 
                                                    [(ngModel)]="login.password"
                                                    name="password"
                                                    required/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10" id="submit">
                                                    <button type="submit" class="btn btn-primary btn-sm"
                                                    id="loginsubmit">Submit</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="Registration">
                                            <form role="form" class="form-horizontal" 
                                            (ngSubmit)="register()" >
                                            <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label">Username</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                    <input type="text" class="form-control" id="email"  
                                                    [(ngModel)]="reg.username" name="username" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-2 control-label">Password</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                    <input type="password" class="form-control" id="password" placeholder="Password" 
                                                    [(ngModel)]="reg.password" name="password" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="col-sm-2 control-label">Name</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="reg.name" name="name" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                                    <input type="email" class="form-control" 
                                                    [(ngModel)]="reg.email" name="email" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile" class="col-sm-2 control-label">Gender</label>
                                                <!--<div class="input-group">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                                                    <input type="email" class="form-control" id="mobile" placeholder="Mobile" />-->
                                                    <form class="input-group" >
                                                        <label class="radio-inline">
                                                        <input type="radio" name="optradio" value="male"
                                                        [(ngModel)]="reg.gender" required>Male
                                                        </label>
                                                        <label class="radio-inline">
                                                        <input type="radio" name="optradio" value="female"
                                                        [(ngModel)]="reg.gender" required>Female
                                                        </label>
                                                    </form>
                                                <!--</div>-->
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-10" id="save">
                                                    <button type="submit" class="btn btn-primary btn-sm"
                                                    id="regsubmit">Save & Continue</button>
                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="cancel">Cancel</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModalSignOut" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Sign out?</h4>
                          </div>
                          <div class="modal-body">
                            <p><span style="text-transform: capitalize;">{{name}}</span>, Are you sure to sign out?&hellip;</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" 
                            (click)="signOut()" id="signOut">Sign out</button>
                          </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
            </div>

<footer>
    copyright <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Recommerce 2017 Powered by NS.
</footer>
<!-- <div style=""><button class="btn btn-primary" (click)="test()">click</button></div>
<div id="message" class="center" style="text-align: center;width: 100%;top:25%" [@fadeIn]="status" >
  <div class="alert" style="width: 50%" [ngClass]="{
  'alert-success':checkRegister ,
  'alert-warning':!checkRegister}" >{{message}}</div>
</div> -->
