body{
  transition: background 0.5s ;
}
.header-container{
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}

.navbar{
      margin-bottom: 50px;
      border-radius: 0;
      background-color: transparent;
      border: none;
      opacity: 0.9;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
  }
  .menu-navbar{
    /*z-index: 1000;*/
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer;
    font-size: 0.9em;
    color:#fcf192;
    /*text-shadow: rgb(255, 252, 176) 0px 0px 7px;*/
    border-radius: 10px;
    border: 3px solid transparent;
    transition: border 0.5s;

  }
  .menu-navbar:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(252,241,146,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(252,241,146,1);
    box-shadow: 0px 0px 9px 0px rgba(252,241,146,1);
    border: 2px solid #f1f79c;
    text-shadow: rgb(255, 252, 176) 0px 0px 7px;
    
  }
  .navbar-containner{
    padding-top:10px;
    padding-bottom: 10px;
    display: inline-block;
    background: #330431;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    /*position: fixed;*/
    /*z-index: 1000;*/


  }
  .navbar-search{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /*cursor:pointer;*/
    font-size: 0.9em;
    color:#fcf192;
    /*text-shadow: rgb(255, 252, 176) 0px 0px 7px;*/
    border-radius: 10px;
    border: 3px solid transparent;
  }

  #search{
    border-radius: 10px;
    background: grey;
    display: inline-block;
    width: 100%;
    padding: 1%;
    transition: 0.5s;
  }
  #search:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(209,168,2,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(209,168,2,1);
    box-shadow: 0px 0px 9px 0px rgba(209,168,2,1);
  }
  #search input{
    border: none;
    width: 93%;
    background: grey;
    cursor:pointer;
    margin-left: 10px;

  }
  #search input:focus{
    outline: none !important;

  }
  .sub-menu{
    padding-top: 20px;
    padding-bottom: 20px;  
    background:#2a062d;
    padding-left: 15px;
  }
  .sub-menu>p>a{
    color:#818181;
    font-size: 0.9em;
    transition: color 0.5s;
  }
  .sub-menu>p>a:hover{
    color:white;
    
  }
  #women{
    display: none;
  }
  #men{
    display: none;
  }
  #electronic{
    display: none;
  }
  #home{
    display: none;
  }
  ::-webkit-input-placeholder { /* Chrome */
      /*color: #fcf192;*/
      color:white;
  }

  /* login modal */
  .nav-tabs {
      margin-bottom: 15px;
  }
  .sign-with {
      margin-top: 25px;
      padding: 20px;
  }
  #login-menu:focus{
    outline: 0 !important;
  }
  .modal-header{
    background-color: #2a062d;
    color: #fcf192;
  }
  a{
    color: #2a062d;
  }
  .input-group{
    margin-left: 15px;
    margin-right: 15px;
  }

  .modal-backdrop{
    z-index: 0!important;
  }


  textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(44, 0, 63, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(44, 0, 63, 0.6);
    outline: 0 none;
  }
  .btn-primary{
    background-color: #2a062d;
    border-color: #2a062d;
    color: #fcf192;
  }
  .btn-primary:focus{
    outline: 0 !important;
  }
  .btn-primary:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(252,241,146,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(252,241,146,1);
    box-shadow: 0px 0px 9px 0px rgba(252,241,146,1);
    border: 1px solid #f1f79c;
    text-shadow: rgb(255, 252, 176) 0px 0px 7px;
  }
  .btn-default:focus{
    outline: 0 !important;
  }
  .menu-navbar{
    background: transparent;
  }
  #mycart{
    color: #fcf192;
    text-decoration: none;
  }

  @media only screen and (min-width: 768px){ 
    .logo.img-responsive{
      width: 35%;
      margin: auto;
      left: 32%;
      top: 30%;
      position: absolute;
    }
    .menu-collapse{
      display: block ;
    }
    .menu-hamburger-open{
      display: none;
    }
    .menu-hamburger-close{
      display: none;
    }
    .department-containner{
      display: none;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
    }
    .department{
      height: 35vmin;
      margin:10px;
      padding-top:20px;
    }
    .department #head{
      font-size: 1em;
      color:#fcf192;
      /*text-shadow: rgb(255, 252, 176) 0px 0px 7px;*/
    }
    .department>p>a{
      color:white;
    }
    .sidenav{
      display:none;
    }
    .center-navbar{
      display: flex;
      justify-content: center;
      align-items: center;      
    }
    .banner.img-responsive{
      width: 100%;
      height: 200px;
    }
    #submit{
      padding-left: 0px;
    }
    #save{
      padding-left: 0px;
    }

   }
  @media only screen and (min-width: 768px) and (max-width: 991px){
      .logo.img-responsive{
        width: 50%;
        margin: auto;
        left: 25%;
        top: 30%;
        position: absolute;
      }
      #search input{
        border: none;
        width: 76%;
        background: grey;
        cursor:pointer;
        margin-left: 10px;
      }
      .department-containner{
        position: absolute;
      }
    }
  @media only screen and (max-width: 767px){ 
    .logo.img-responsive{
      width: 50%;
      margin: auto;
      left: 25%;
      top: 30%;
      position: absolute;
    }
    .menu-collapse{
      display: none ;
    }
    .menu-navbar{
      font-size: 0.9em;
    }
    .menu-hamburger-open{
      display: block;
    }
    .menu-hamburger-close{
      display: none;
    }
    .department-containner{
      display: none;
    }
    body {
      font-family: "Lato", sans-serif;
      transition: background-color .5s;
      /*-webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);*/
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #330431;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      -webkit-box-shadow: 5px 0px 13px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 0px 13px -4px rgba(0,0,0,0.75);
      box-shadow: 5px 0px 13px -4px rgba(0,0,0,0.75);
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 1em;
      color: #818181;
      display: block;
      transition: 0.3s
    }

    .sidenav a:hover, .offcanvas a:focus{
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
    }

    #hamburger{
      float: left;
    }
     #login-menu{
      float: right;
    }
    #others{
      float:right;

    }
    .banner.img-responsive{
      width: 100%;
      height: 100px;
    }

   }


