<div class="container">
	<div class="row">
        <br><br>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading" id="mycart">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-12">
								<h3>My Cart</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div *ngIf="itemCarts.length==0">No item in your cart</div>
					
					<div class="row" *ngFor="let item of itemCarts ; let i = index; trackBy: trackByFn">
						<div class="col-xs-2" id="img"><img class="img-responsive" src="{{item.img}}" style="width: 100px; height: 100px;margin-bottom: 15px">
						</div>
						<div class="col-xs-4">
							<h4 class="limit-text"><small>{{item.name}}</small></h4>
						</div>
						<div class="col-xs-6" id="number">
							<div class="col-md-4 text-right" id="price">
								<h6><strong>{{item.price}}<span class="text-muted">x</span></strong></h6>
							</div>
                            <div class="col-md-6 quantity" id="plus-minus">
                                <button class="minus-btn" type="button" name="button">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" name="name" value="1">
                                <button class="plus-btn" type="button" name="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-2 delete" id="trash">
								<button type="button" class="btn btn-link" id="trash" (click)="deleteItem(i)">
									<span class="glyphicon glyphicon-trash" id="trash"> </span>
								</button>
						    </div>	
						<hr> 
						</div>
					</div>
				</div>
				<div class="panel-footer" id="checkout">
					<div class="row text-center">
						<div class="col-xs-9" id="total">
							<h4 class="text-right">(นี่เป็นเพียงการจำลองระบบ จึงไม่มีการเก็บเงินแต่อย่างใด) Total <strong>{{sum}} ฿</strong></h4>
						</div>
						<div class="col-xs-3" id="check">
							<button type="button" class="btn btn-success btn-block" id="btn-checkout" (click)="checkout()">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!--Recommend-->
        <div class="col-md-4">
            <div class="panel panel-info">
				<div class="panel-heading" id="recommended">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h5>Recommended items for you</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body" id="recommend">
					<div class="row">
						<div class="col-xs-6" id="img-rec"><img class="img-responsive" src="../../../img/women/bags/wb1.png">
						</div>
						<div class="col-xs-6">
							<h4 class="product-name"><strong>Product name</strong></h4>
                            <h4><small>Product description</small></h4>
                            <button type="button" class="btn btn-default btn-sm" id="addtocart">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                            </button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-6" id="img-rec"><img class="img-responsive" src="../../../img/women/bags/wb2.png">
						</div>
						<div class="col-xs-6">
							<h4 class="product-name"><strong>Product name</strong></h4>
                            <h4><small>Product description</small></h4>
                            <button type="button" class="btn btn-default btn-sm" id="addtocart">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                            </button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-6" id="img-rec"><img class="img-responsive" src="../../../img/women/bags/wb3.png">
						</div>
						<div class="col-xs-6">
							<h4 class="product-name"><strong>Product name</strong></h4>
                            <h4><small>Product description</small></h4>
                            <button type="button" class="btn btn-default btn-sm" id="addtocart">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                            </button>
						</div>
					</div>
                    <hr>
                    <div class="row">
						<div class="col-xs-6" id="img-rec"><img class="img-responsive" src="../../../img/women/bags/wb8.png">
						</div>
						<div class="col-xs-6">
							<h4 class="product-name"><strong>Product name</strong></h4>
                            <h4><small>Product description</small></h4>
                            <button type="button" class="btn btn-default btn-sm" id="addtocart">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                            </button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-6" id="img-rec"><img class="img-responsive" src="../../../img/women/bags/wb9.png">
						</div>
						<div class="col-xs-6">
							<h4 class="product-name"><strong>Product name</strong></h4>
                            <h4><small>Product description</small></h4>
                            <button type="button" class="btn btn-default btn-sm" id="addtocart">
                            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
                            </button>
						</div>
					</div>
					<!--<hr>-->
	            </div> 
                <div class="panel-footer" id="cnt-shopping">
					<div class="row text-center">
						<div class="col-xs-12 text-center">
                            <button type="button" class="btn btn-primary btn-block" id="btn-cnt" (click)="continue()">
                                <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                            </button>
                        </div>
					</div>
				</div>
			</div>  
        </div>

		<div class="container-outer">
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws1.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws2.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws3.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws4.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws5.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws6.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws7.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws8.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws9.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
			<div id="img-rec">
				<img class="img-responsive" src="../../../img/women/shoes/ws10.png">
				<h4 class="product-name"><strong>Product name</strong></h4>
				<h4><small>Product description</small></h4>
				<button type="button" class="btn btn-default btn-sm" id="addtocart">
				<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
				</button>
			</div>
		</div>	

	</div>
</div>
<div id="message" class="center" style="z-index: 9999;position: fixed;text-align: center;width: 100%;top:25%;" [@fadeIn]="status" >
  <div class="alert thank" style="width: 50%" >Thank you for your shopping.</div>
</div>
