<div class="container">
	<div class="row">
        <br><br>
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading" id="mycart">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-12">
								<h3>My Cart</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div *ngIf="itemCarts.length==0">No item in your cart</div>
					
					<div class="row" *ngFor="let item of itemCarts ; let i = index; trackBy: trackByFn">
						<div class="col-xs-2" id="img"><img class="img-responsive" src="{{item.img}}" style="width: 100px; height: 100px;margin-bottom: 15px">
						</div>
						<div class="col-xs-4">
							<h4 class="limit-text"><small>{{item.name}}</small></h4>
						</div>
						<div class="col-xs-6" id="number">
							<div class="col-md-4 text-right" id="price">
								<h6><strong>{{item.price}}<span class="text-muted">x</span></strong></h6>
							</div>
                            <div class="col-md-6 quantity" id="plus-minus">
                                <button class="minus-btn" type="button" name="button">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" name="name" value="1">
                                <button class="plus-btn" type="button" name="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-2 delete" id="trash">
								<button type="button" class="btn btn-link" id="trash" (click)="deleteItem(i)">
									<span class="glyphicon glyphicon-trash" id="trash"> </span>
								</button>
						    </div>	
						<hr> 
						</div>
					</div>
				</div>
				<div class="panel-footer" id="checkout">
					<div class="row text-center">
						<div class="col-xs-9" id="total">
							<h4 class="text-right">Total <strong>{{sum}} ฿</strong></h4>
						</div>
						<div class="col-xs-3" id="check">
							<button type="button" class="btn btn-success btn-block" id="btn-checkout" (click)="checkout()">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<br><br>
	<!--Recommend-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-xs-9">
					<h4>You May Also Like</h4>
				</div>
				<div class="col-xs-3">
					<!-- Controls -->
					<div class="controls pull-right hidden-xs">
						<a class="left fa fa-chevron-left btn btn-control" href="#carousel-example" data-slide="prev"></a>
						<a class="right fa fa-chevron-right btn btn-control" href="#carousel-example" data-slide="next"></a>
					</div>
				</div>
			</div>
			<div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-item">
									<div class="photo">
										<img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
									</div>
									<div class="info">
										<div class="row">
											<div class="price col-xs-12">
												<h5>Product Example</h5>
												<h5 class="price-text-color">$249.99</h5>
											</div>
										</div>
										<div class="clearfix">
										</div>
									</div>
									<div class="addtocart">
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="btn btn-default btn-sm" id="addtocart">
												<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="message" class="center" style="z-index: 9999;position: fixed;text-align: center;width: 100%;top:25%;" [@fadeIn]="status" >
  <div class="alert thank" style="width: 50%" >Thank you for your shopping.</div>
</div>
