
<carousel></carousel>	
<rating></rating>

<div class="details" style="padding: 20px;">
	<h1 style="text-align: center">คำชี้แจงการใช้งานเว็บไซต์</h1>
	<hr>
	<p>เว็บไซต์นี้ เป็นเพียงส่วนหนึ่งของงานวิจัยเพียงอย่างเดียวเท่านั้น ไม่มีเจตนาเพื่อนำไปค้าขายเชิงพาณิชย์แต่อย่างใด โดยขอความร่วมมือในการร่วมทดสอบเว็บไซต์เพื่อนำไปเก็บข้อมูลในงานวิจัยต่อไป โดยมีขั้นตอนดังนี้</p>
	<ul>
		<li>สมัครสมาชิก</li>
		<li>เลือกสินค้าตามหมวดหมู่ต่างๆลงในตระกร้า (ขอความร่วมมือพิจารณาสินค้าที่ตนเองอยากซิ้อจริงๆ โดยสมมติว่ามีการซื้อขายเกิดขึ้นจริง)</li>
		<li>เมื่อนำสินค้าลงในตระกร้าเรียบเรียบแล้วให้ คลิ๊กที่รูปตระกร้าด้านบนขวา เพื่อทำการ checkout สินค้า โดยสมมติ</li>
		<li>กด checkout สินค้า จากนั้นจะโหลดกลับมายังหน้าแรกอีกครั้ง</li>
		<li>ขอความกรุณาผู้ร่วมทดสอบ โปรดให้คะแนนสินค้าที่ตนเองเลือกซื้อตามความพอใจ เพื่อนำไปพัฒนางานวิจัย</li>
	</ul>
	<hr>
	<p style="text-align: center">ขอบพระคุณอย่างสูง</p>
</div>