.details{
	font-family: 'Athiti', sans-serif !important;
	font-weight: bold;
}
.details h1{
	font-weight: bolder;
}
#addtocart{
    width: 100%;
}

#addtocart:focus{
    outline: none;
}

#itemRec{
    color: #330431; 
}

.item-info{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: 'Athiti', sans-serif !important;
    font-weight: bold;
    line-height: 1.4;
}

.btn-slide{
    background-color: transparent;
    color: #330431 !important;
}

@media screen and (min-width: 768px){
	.details{
		padding-left: 100px !important;
		padding-right: 100px !important;
	}
}