
<carousel></carousel>	
<rating></rating>
<div class="details" style="padding: 20px;">
	<!--Recommend Inspired by You-->
	<div class="panel-heading" id="itemRec" *ngIf="statusInspireByYou && status">
		<div class="panel-title">
			<div class="row">
				<div class="col-xs-12">
					<h4>Inspired by You</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="loader" *ngIf="!statusInspireByYou && status">Loading...</div>

	<owl-carousel 
	[options]="option"  
	[items]="itemInspire" 
	[carouselClasses]="['sliding']">
		<div class="item" *ngFor="let item of itemInspire" >
		<div class="photo">
			<img src="{{item.img}}" class="img-responsive" alt="a" style="width: 125px; height: 125px; margin: auto"/>
		</div>
		<div class="info">
			<div class="row">
				<div class="price col-xs-12">
					<h5 class="item-info">{{item.name}}</h5>
					<h5 class="price-text-color">{{item.price}} ฿</h5>
				</div>
			</div>
		</div>
		<div class="addtocart">
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-default btn-sm" id="addtocart" (click)="addToCart(item)">
					<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
					</button>
				</div>
			</div>
		</div>
		</div>
	</owl-carousel>

	<!--Recommend Bestsellers-->
	<div class="panel-heading" id="itemRec" >
		<div class="panel-title">
			<div class="row">
				<div class="col-xs-12">
					<h4>Bestsellers</h4>
				</div>
			</div>
		</div>
	</div>

	<owl-carousel 
	[options]="option"  
	[items]="itemBestSeller" 
	[carouselClasses]="['sliding']">
		<div class="item" *ngFor="let item of itemBestSeller">
		<div class="photo">
			<img src="{{item.img}}" class="img-responsive" alt="a" style="width: 125px; height: 125px; margin: auto"/>
		</div>
		<div class="info">
			<div class="row">
				<div class="price col-xs-12">
					<h5 class="item-info">{{item.name}}</h5>
					<h5 class="price-text-color">{{item.price}} ฿</h5>
				</div>
			</div>
		</div>
		<div class="addtocart">
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-default btn-sm" id="addtocart" (click)="addToCart(item)">
					<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
					</button>
				</div>
			</div>
		</div>
		</div>
	</owl-carousel>

	
	<div class="panel-heading" id="itemRec" >
		<div class="panel-title">
			<div class="row">
				<div class="col-xs-12">
					<h4>New Releases</h4>
				</div>
			</div>
		</div>
	</div>


	<owl-carousel 
	[options]="option"  
	[items]="itemNewRelease" 
	[carouselClasses]="['sliding']">
		<div class="item" *ngFor="let item of itemNewRelease" >
		<div class="photo">
			<img src="{{item.img}}" class="img-responsive" alt="a" style="width: 125px; height: 125px; margin: auto"/>
		</div>
		<div class="info">
			<div class="row">
				<div class="price col-xs-12">
					<h5 class="item-info">{{item.name}}</h5>
					<h5 class="price-text-color">{{item.price}} ฿</h5>
				</div>
			</div>
		</div>
		<div class="addtocart">
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-default btn-sm" id="addtocart" (click)="addToCart(item)">
					<span class="glyphicon glyphicon-plus-sign"></span> Add to cart
					</button>
				</div>
			</div>
		</div>
		</div>
	</owl-carousel>
</div>

<!--<div class="details" style="padding: 20px;">
	<h1 style="text-align: center">คำชี้แจงการใช้งานเว็บไซต์</h1>
	<hr>
	<p>เว็บไซต์นี้ เป็นเพียงส่วนหนึ่งของงานวิจัยเพียงอย่างเดียวเท่านั้น ไม่มีเจตนาเพื่อนำไปค้าขายเชิงพาณิชย์และเปิดเผยข้อมูลแต่อย่างใด ขอความร่วมมือในการร่วมทดสอบเว็บไซต์เพื่อนำไปเก็บข้อมูลในงานวิจัยต่อไป โดยมีขั้นตอนดังนี้</p>
	<ul>
		<li>สมัครสมาชิก (เพื่อใช้ในการเก็บข้อมูล)</li>
		<li>กดปุ่ม Department เพื่อเลือกหมวดหมู่ แล้วเลือกสินค้าตามหมวดหมู่ต่าง ๆ ลงในตระกร้า (ขอเรียนผู้ทดสอบโปรดเลือกสินค้า มากกว่า 5 ชิ้นขึ้นไปและคละหมวดหมู่กัน เพื่อใช้ในการประมวลผลความสัมพันธ์ในงานวิจัยและขอความร่วมมือพิจารณาสินค้าที่ตนเองอยากซื้อตามความเป็นจริง โดยให้สมมติว่ามีการซื้อขายเกิดขึ้นจริง) </li>
		<li>เมื่อนำสินค้าลงในตระกร้าเรียบร้อยแล้วให้ กดที่รูปตระกร้าด้านบนขวา เพื่อทำการ Checkout สินค้า</li>
		<li>กด Checkout สินค้า จากนั้นระบบจะโหลดกลับมายังหน้าแรกอีกครั้ง</li>
		<li>กรุณารอสักครู่ ระบบจะแสดงหน้าต่างขึ้นมาเพื่อให้ทำการ Rate สินค้า</li>
		<li>ขอความกรุณาผู้ร่วมทดสอบ โปรดให้คะแนนสินค้าที่ตนเองเลือกซื้อตามความพอใจ เพื่อนำไปพัฒนางานวิจัย</li>
	</ul>
	<hr>
	<p style="text-align: center">ขอบพระคุณอย่างสูง</p>
</div>-->